<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block title%}{% endblock%} </title>
    </head>
    <body>
        <header>
            <p>
                Boot Z 6 - Cash
            </p>
        </header>

        <section>
            <h1>Lista de movimientos</h1>
            <p>Aquí va mi lista de movimientos</p>
        </section>

        <footer>
            <img src="static/smile.png" alt="Los Tejos" />
            &copy; 2020 - 2021. Todos los derechos reservados
        </footer>
    </body>
</html>