{% extends "base.html" %}

{% block title %} Romanos {% endblock %}

{% block content%}
        <h1>Ingresos Mensuales</h1>
        <table>
                <tr>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Importe</th>
                </tr>
        {% for registro in datos %}
                <tr>
                        <td>{{registro[0] }}</td>
                        <td>{{registro[1] }}</td>
                        <td>{{registro[2] }}</td>
                </tr>
        {% endfor %}   
                <tr>
                        <td colspan='3'>Total: 2700€</td>
                </tr>
        </table>

{% endblock %}